<div
  class="flex flex-col min-h-[320px] md:min-w-[550px] p-8 border-2 border-emerald-500 rounded-md shadow-sm gap-6 items-center justify-center"
>
  <h2 class="text-3xl font-semibold text-gray-800 w-96 text-balance">La moneda seleccionada no puede ser intercambiada</h2>
  <p class="text-xl text-gray-800 w-96 text-balance">
    Por favor, vuelva a nuestra secci&oacute;n de productos y seleccione otra moneda
  </p>
  <button
    class="text-white font-base tracking-wide bg-[#0c9] w-96 py-2 rounded text-lg shadow-sm hover:bg-emerald-400"
    routerLink="/systems"
  >
    Volver a la secci&oacute;n de productos
  </button>

</div>
